<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="Product Detail">
    <ion-nav-buttons side="right">    
        <button class="button edit-btn button-clear" side="right" ng-click="editProduct()" ng-show="savediv">Edit</button>
        <button class="button edit-btn button-clear" side="right" ng-click="save(product)" ng-show="!savediv">Save</button>
    </ion-nav-buttons>
    <ion-content class="padding">
        <ion-slide-box>
            <ion-slide ng-repeat="image in product.image">
                <img ng-if = "product.image[0]" ng-src="{{base_url.url}}{{image}}" class="slide-box-img" >
                <img ng-if = "!product.image" ng-src="img/samsung-galaxy-tab.jpg">
            </ion-slide>
            <!-- <ion-slide>
                <img ng-if = "product.image[0]" ng-src="{{base_url.url}}{{product.image[0]}}" style="width:300px;height:300px;margin:auto;display:block" >
                <img ng-if = "!product.image" ng-src="img/samsung-galaxy-tab.jpg" style="width:300px;height:300px;margin:auto;display:block">
            </ion-slide>
            <ion-slide>
                <img ng-if = "product.image[0]" ng-src="{{base_url.url}}{{product.image[0]}}" style="width:300px;height:300px;margin:auto;display:block" >
                <img ng-if = "!product.image" ng-src="img/samsung-galaxy-tab.jpg" style="width:300px;height:300px;margin:auto;display:block">
            </ion-slide>
            <ion-slide>
                <img ng-if = "product.image[0]" ng-src="{{base_url.url}}{{product.image[0]}}" style="width:300px;height:300px;margin:auto;display:block" >
                <img ng-if = "!product.image" ng-src="img/samsung-galaxy-tab.jpg" style="width:300px;height:300px;margin:auto;display:block">
            </ion-slide> -->
            <!-- <ion-slide>
                <img ng-src="http://code.ionicframework.com/assets/img/app_icon.png" style="width:300px;height:300px;margin:auto;display:block" >
            </ion-slide> -->
        </ion-slide-box>
        <div class="list list-inset addList">
            <label class = "label-for-product-Detail margin-btm-15" for="product-title" class="item item-input border-bottom margin-btm-15">Product Title
                <input class="input-for-product-Detail border-bottom" id="product-title" type="text" ng-model="product.title" ng-disabled="savediv">
            </label>    
          
            <label class = "label-for-product-Detail margin-btm-15" for="product-mrp" class="item item-input border-bottom margin-btm-15">Product Mrp
                <input class="input-for-product-Detail border-bottom" id="product-mrp" type="text"  ng-model="product.mrp" ng-disabled="savediv">
            </label>    
          
            <label class = "label-for-product-Detail margin-btm-15" for="product-stock" class="item item-input border-bottom margin-btm-15">Stocks
                <input class="input-for-product-Detail border-bottom" id="product-stock" type="text" ng-model="product.stock" ng-disabled="savediv">
            </label>    
           
            <label class = "label-for-product-Detail margin-btm-15" for="product-sellingPrice" class="item item-input border-bottom margin-btm-15">Selling price
                <input class="input-for-product-Detail border-bottom" id="product-sellingPrice" type="text" ng-model="product.sellingPrice" ng-disabled="savediv">
            </label>    
          
        </div>   
        <!-- <div ng-animate="'animate'">       
            <form name="editProduct">
                <div class = "list list-inset addList">
                    <div class = "row">
                        <div class = "col-90 margin-btm-15">
                            <ion-md-input type="text" class="border-bottom" ng-model="product.title" placeholder="Title" highlight-color="calm" readonly="!savediv"></ion-md-input>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-90 margin-btm-15">
                            <ion-md-input type="text" class="border-bottom" ng-model="product.mrp" placeholder="MRP" highlight-color="calm" readonly="!savediv"></ion-md-input>
                        </div>
                    </div>
                    <div class = "row">
                        <div class="col-90 margin-btm-15">
                            <ion-md-input type="text" class="border-bottom"  ng-model="product.stock" placeholder="Stock" highlight-color="calm" readonly="!savediv"></ion-md-input>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-90 margin-btm-15">
                            <ion-md-input type="text" class="border-bottom" ng-model="product.sellingPrice" placeholder="Selling Price" highlight-color="calm" readonly="!savediv"></ion-md-input>
                        </div>
                    </div>
                </div>
            </form>
        </div> -->
    </ion-content>
</ion-view>