<ion-view cache-view="false" view-title="My Products">
	<ion-nav-buttons side="left">
        <button class="button add-btn button-clear" side="left" ng-click="addProducts()">Add</button>
    </ion-nav-buttons>    
    <ion-nav-buttons side="right">    
        <button class="button rm-btn button-clear" side="right" ng-click="pushProduct()">Push</button>
    </ion-nav-buttons>
  	<ion-content>
        <ion-list>
            <ion-item class="card card-product item-thumbnail-left item-icon-right" type="item-text-wrap" ng-repeat="product in productList track by $index" href="#/tab/products/{{product.id}}" on-hold="pushProductToList(product.id, product.mrp, $index)">
          		<img ng-if = "product.image[0]" src="{{base_url.url}}{{product.image[0]}}" class="product-img">
                <img ng-if = "!product.image" src="img/samsung-galaxy-tab.jpg" class="product-img">
      			<h2>{{product.title}}</h2>
      			<p>Rs:{{product.mrp}}</p>
      			<p>Qty:{{product.stock}}</p>   
                <p>{{getdayMonth(product.createdAt)}}</p>
                <p ng-if="productId[product.id] == product.id" class="selected-cont text-right"><img src="img/tick.png"></p>
                <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>
        </ion-list> 
    </ion-content>
    <script id="reseller-list.html" type="text/ng-template">
        <ion-modal-view>
            <ion-header-bar class="bar bar-header header-bg-color">
              <h1 class="title text-center">Reseller List</h1> 
              <button class="button rm-btn button-clear" side="right" ng-click="pushToSeseller()">Push</button> 
            </ion-header-bar>
            <ion-content class="padding">
                <div ng-repeat="reseller in resellerList">
                    <div class="list">
                        <div class="item">
                            <div class="resellerDetail">{{reseller.firstName}}</div>
                            <div side="right" class="item item-checkbox check-box-style-reseller">
                                <label class="checkbox">
                                  <input type="checkbox" ng-click="selectReseller(reseller.id)">
                                </label>
                            </div>
                        </div>
                    </div>  
                </div> 
            <div class="text-center">
                <button class="button button-positive button-balanced savebutton" ng-click="pushToSeseller()">Push</button>
            </div>
        </ion-content>
    </ion-modal-view>
    </script>
</ion-view>
