<ion-view cache-view="false" view-title="Dashboard">
	<ion-nav-buttons side="right">    
      	<button class="button button-clear" ng-click="logout()">Logout</button>
    </ion-nav-buttons>
  	<ion-content class="padding">
    	<div class="row margin-btm-15">
    		<div class="col-50">
	    		<div class="common-container">
	    			<a href="#/resellers">
		    			<div class="row">
		    				<div class="col-50">
		    					<img class="dash-img" src="img/user_icon.png">
		    				</div>
		    				<div class="col-50">
		    					<h3 class="text-center txt-color" style="margin: 20px;">20</h3>
		    				</div>
		    			</div>
		    			<div class="row">
		    				<div class="col">
		    					<h5 class="text-center txt-color" style="margin: 0;">Total Resellers</h5>
		    				</div>
		    			</div>
		    		</a>
		    	</div>
	    	</div>
    		
    		
    		<div class="col-50">
	    		<div class="common-container">
	    			<a href="#/tab/products">
		    			<div class="row">
		    				<div class="col-50">
		    					<img class="dash-img" src="img/rupee_icon.png">
		    				</div>
		    				<div class="col-50">
		    					<h3 class="text-center txt-color" style="margin-top: 20px;">940</h3>
		    				</div>
		    			</div>
		    			<div class="row">
		    				<div class="col">
		    					<h5 class="text-center txt-color" style="margin: 0;">Tatal Earnings</h5>
		    				</div>
		    			</div>
		    		</a>
		    	</div>
	    	</div>
    		
    	</div>
    	<div class="row">
    		<div class="col">
    			<highchart id="chart1" config="chartConfig" class="span10"></highchart>
    		</div>
    	</div>   
  	</ion-content>
</ion-view>
