<ion-view view-title="Dashboard">
	<ion-nav-buttons side="right">    
      	<button class="button button-clear" ng-click="logout()">Logout</button>
    </ion-nav-buttons>
  	<ion-content class="padding">
    	<!-- <h2>Welcome to Becho App</h2> -->

    	<div class="row margin-btm-15">
    		<div class="col-50">
	    		<div class="common-container">
	    			<a href="#/resellers">
		    			<div class="row">
		    				<div class="col-50">
		    					<img class="dash-img" src="img/image.png">
		    				</div>
		    				<div class="col-50">
		    					<h2 class="text-center txt-color ">20</h2>
		    				</div>
		    			</div>
		    			<div class="row">
		    				<div class="col">
		    					<h5 class="text-center txt-color ">Total Resellers</h5>
		    				</div>
		    			</div>
		    		</a>
		    	</div>
	    	</div>
    		
    		
    		<div class="col-50">
	    		<div class="common-container">
	    			<a href="#/tab/products">
		    			<div class="row">
		    				<div class="col-50">
		    					<img class="dash-img" src="img/image.png">
		    				</div>
		    				<div class="col-50">
		    					<h2 class="text-center txt-color ">940</h2>
		    				</div>
		    			</div>
		    			<div class="row">
		    				<div class="col">
		    					<h5 class="text-center txt-color ">Tatal Products</h5>
		    				</div>
		    			</div>
		    		</a>
		    	</div>
	    	</div>
    		
    	</div>
    	<div class="row">
    		<div class="col">
    			<highchart id="chart1" config="chartConfig" class="span10"></highchart>
    		</div>
    	</div>   
  	</ion-content>
</ion-view>
