/* Empty. Add your own CSS if you like */

/*COMMON CLASSES*/
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
.bar.bar-dark {
      border-color: #24b0d7;
    background-color: #24b0d7;
    background-image: linear-gradient(0deg, #24b0d7, #24b0d7 50%, transparent 50%);
}
.common-class {
	vertical-align: middle;
	margin: auto;
}
.zero-lft-padding {
	padding-left: 0px;
}
.zero-rgt-padding {
	padding-right: 0px;
}
.zero-top-padding {
	padding-top: 0;
}
.zero-btm-padding {
	padding-bottom: 0;
}
.margin-btm-15 {
	margin-bottom: 15px;
}
.border-bottom {
	border: none;
    border-bottom: 1px solid #ddd;
}
.upload-img {
	border: 0;
	margin-top: 20px;
}
.savebutton {
	width: 50% !important;
    margin: 0 auto;
    background-color: #4a90e2 !important;
    color: #fff;
}
.verify-btn {
    padding: 0 6px;
    font-size: 14px;
}

.loginBg{
background: rgba(73,155,234,1);
background: -moz-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 45%, rgba(73,155,234,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(73,155,234,1)), color-stop(45%, rgba(32,124,229,1)), color-stop(100%, rgba(73,155,234,1)));
background: -webkit-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 45%, rgba(73,155,234,1) 100%);
background: -o-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 45%, rgba(73,155,234,1) 100%);
background: -ms-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 45%, rgba(73,155,234,1) 100%);
background: linear-gradient(to right, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 45%, rgba(73,155,234,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#499bea', GradientType=1 );

}

.app-logo{ max-width:100px; margin:auto; background-repeat:no-repeat;background-position:center;}
.app-logo h3 {color: #fff;}
.top-content { padding-top: 10vh;  text-align: center;   }
.loginButton, .signUpButton{ padding-bottom:0px;}
.remvoeBP{ padding-bottom:0px;}
.removePM{ margin-top:0px; margin-bottom:0px; padding-top:0px; padding-bottom:0px; }

#menuLinks .list .item{ border-color:#479CF7;}
#menuLinks .list .item a{ background:#387EF5; color:#fff;}

.check-box-style  {
	padding-left: 45px;
	border-width: 0px;
	color: #999;
}
.check-box-style label.checkbox{
	left: 0px;
}
.row, .scroll {
  	height: 100%;
}
.item-md-label {
	padding-top: 20px;
}
.item-input {
	padding: 16px 0 5px 10px;
}
.item-md-label input:focus ~ .input-label, .item-md-label input.used ~ .input-label {
    -webkit-transform: translate3d(0, -50px, 0) scale(0.9);
    transform: translate3d(0, -50px, 0) scale(0.9);
    opacity: 1;
    font-size: 14px;
    color: #00B9F5; 
}
textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"] {
	color: #999;
}
.sign-up-txt {
	color: #fff;
	font-size: 16px
}
.sign-up-txt a {
	color: #33cd5f;
	font-size: 19px;
	text-decoration: underline;
}
.checkbox input:checked:before, .checkbox input:checked + .checkbox-icon:before {
    background: #00B9F5;
    border-color: #00B9F5;
}
.pad-left {
	padding-left: 10px; 
}
.error-container {
  margin: 5px 0;
}
 
.error-container:last-child {
    margin: 5px 0 0;
}
 
.error {
  padding: 10px 16px;
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  color: #555;
  vertical-align: middle;
}
 
.error i {
  font-size: 24px;
  color: #B83E2C;  
  vertical-align: middle;
}
 
.last-error-container > .error {
  padding: 10px 16px 0;
}
 
.has-errors {
  border-bottom: 3px solid #B83E2C;
}
 
.no-errors {
  border-bottom: 3px solid green;
}
.desc-text {
	border: none;
    padding: 16px 8px 5px;
    color: #999;
}
